@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* ============================
   Reset CSS
   ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* ============================
   Container principal
   ============================ */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body 

/* ============================
   Conteúdo Principal
   ============================ */
main {
    flex: 1;
}

/* ============================
   Header
   ============================ */
header {
    padding: 30px;
    background-color: #105f41;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

#logo {
    color: white;
    text-decoration: none;
    margin-left: 110px;
    font-size: 2rem;
}

/* --- Links de Navegação --- */
ul {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}

ul > li > a {
    text-decoration: none;
    color: white;
    transition: 0.25s;
    font-size: 1rem;
}

ul > li > a:hover {
    text-decoration: underline;
}

/* --- Botão para sair do meu site --- */
#btn-sair {
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    margin-right: 110px;
    cursor: pointer;
    background-color: #1f201f;
    transition: 0.25s;
}

#btn-sair > a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 2px 2px 12px #1f1f1f9b;
}

#btn-sair:hover {
    background-color: #191818;
    transform: scale(1.05);
}

/* ============================
   Formulário
   ============================ */
#formAluno {
    display: flex;
    flex-direction: column;
    background-color: #efefefc5;
    width: 80%;
    margin: auto;
    box-shadow: 2px 2px 14px rgba(123, 123, 123, 0.213);
    border: 1px solid rgba(23, 22, 22, 0.378);
    border-radius: 8px;
    overflow: hidden;
}

/* --- Titulo do formulário --- */
#titulo-form {
    margin-bottom: 20px;
    background-color: #0c246f;
    color: white;
    padding: 20px 40px;
    text-align: left;
    font-size: 1.3rem;
}

/* --- Linhas do formulário --- */
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 40px;
    margin-bottom: 20px;
    justify-content: space-between;
}

/* --- Grupos do formulário --- */
.form-group {
    display: flex;
    flex-direction: column;
    width: 23%;
    min-width: 250px;
}

#dataNasc {
    color: #757575;
}

fieldset.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 580;
    border: none;
}

label {
    font-weight: 580;
    margin-bottom: 5px;
}

.form-group > input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* ============================
   Botões do Formulário
   ============================ */
#btn-form {
    margin: 20px 40px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

#btnSalvar, #btnLimpar {
    padding: 16px 30px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
    transition: all 0.25s ease;
}

#btnSalvar {
    background-color: rgb(43, 115, 216);
}

#btnSalvar:hover {
    background-color: rgb(56, 116, 200);
    transform: scale(1.05);
    box-shadow: 2px 2px 8px #244e875a;
}

#btnLimpar {
    background-color: rgb(113, 113, 113);
}

#btnLimpar:hover {
    background-color: rgb(105, 104, 104);
    transform: scale(1.05);
    box-shadow: 2px 2px 8px #2929294b;
}

th {
    text-align: center;
}

.table-section {
    gap: 40px;
    flex-direction: column;
    margin: 60px auto;
    width: 80%;
    border: 1px solid rgba(23, 22, 22, 0.378);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 14px rgba(123, 123, 123, 0.213);
    background-color: #efefefc5;
}

#list-title {
    background-color: #0c246f;
    color: #fff;
    padding: 20px 40px;
    font-size: 1.3rem;
}

table {
    padding: 40px;
}

tr {
    display: flex;
    gap: 120px;
}

.btn-list {
    border-top: 1px solid rgba(23, 22, 22, 0.378);

}

#btn-apagar-alunos {
    padding: 16px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
    transition: all 0.25s ease;
    cursor: pointer;
    margin: 20px 40px;
    background-color: rgb(193, 7, 7);
}

#btn-apagar-alunos:hover {
    background-color: rgb(174, 11, 11);
    transform: scale(1.05);
}

/* ============================
   Footer
   ============================ */
footer {
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #105F41;
}

.no-data {
    margin: 40px auto 40px;
}