@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* ============================================ 
   Reset CSS
   ============================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* ============================================ 
   Container Principal
   ============================================ */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body 

/* ============================================ 
   Conteúdo Principal
   ============================================ */
main {
    flex: 1;
}

/* ============================================ 
   Header
   ============================================ */
header {
    padding: 30px;
    background-color: #105f41;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

#logo {
    color: white;
    text-decoration: none;
    margin-left: 110px;
    font-size: 2rem;
}

/* --- Links de Navegação --- */
ul {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}

ul > li > a {
    text-decoration: none;
    color: white;
    transition: 0.25s;
    font-size: 1rem;
}

ul > li > a:hover {
    text-decoration: underline;
}

/* --- Botão para sair do meu site --- */
#link-button {
    margin-right: 110px;
}

#btn-sair {
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1f201f;
    color: #fff;
    font-size: 1rem;
    transition: 0.25s;
}

#btn-sair:hover {
    background-color: #191818;
    transform: scale(1.05);
}

/* ============================================ 
   Sessão do Formulário
   ============================================ */
#formAluno {
    display: flex;
    flex-direction: column;
    background-color: #efefee;
    margin: auto;
    box-shadow: 2px 2px 14px rgba(123, 123, 123, 0.213);
    border: 1px solid rgba(23, 22, 22, 0.378);
    border-radius: 8px;
    overflow: hidden;
    max-width: 90%;
}

/* --- Titulo do formulário --- */
#titulo-form {
    margin-bottom: 20px;
    background-color: #202022;
    color: white;
    padding: 20px 40px;
    text-align: left;
    font-size: 1.3rem;
}

/* --- Linhas do formulário --- */
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 40px;
    margin-bottom: 20px;
    justify-content: space-between;
}

/* --- Grupos do formulário --- */
.form-group {
    display: flex;
    flex-direction: column;
    width: 23%;
    min-width: 250px;
}

#dataNasc {
    color: #757575;
}

fieldset.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 580;
    border: none;
}

label {
    font-weight: 580;
    margin-bottom: 5px;
}

.form-group > input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* ============================================ 
   Botões do Formulário
   ============================================ */
#btn-form {
    margin: 20px 40px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

#btnSalvar, #btnLimpar {
    padding: 16px 30px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
    transition: all 0.25s ease;
}

#btnSalvar {
    background-color: rgb(43, 115, 216);
}

#btnSalvar:hover {
    background-color: rgb(56, 116, 200);
    transform: scale(1.05);
    box-shadow: 2px 2px 8px #244e875a;
}

#btnLimpar {
    background-color: rgb(113, 113, 113);
}

#btnLimpar:hover {
    background-color: rgb(105, 104, 104);
    transform: scale(1.05);
    box-shadow: 2px 2px 12px #29292939;
}
/* ============================================
   Lista de Alunos Cadastrados
   ============================================ */
.table-section {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    max-width: 90%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 14px rgba(123, 123, 123, 0.213);
    border: 1px solid rgba(23, 22, 22, 0.378);
}

/* Titulo da Lista */
#list-title {
    padding: 20px;
    background-color: #191818;
    color: #ffff;
}

/* Tabela */
table {
    background-color: #ffff;
    border-collapse: collapse;
    width: 100%;
}

/* Colunas */
th {
    background-color: #105F41;
    color: #ffff;
    border: 2px solid #000;
    padding: 5px;
}

/* Linhas */
tr {
    text-align: center;
    margin: auto;
}

/* Dados das Tuplas */
td {
    border: 1px solid #000;
    padding: 10px;
}

/* Mensagem "Nenhum Aluno Cadastrado Ainda " */
.no-data {
    padding: 5px;
    color: #2a2a2a;
    text-align: center;
}

/* Botão da Lista */
.btn-list {
    margin-top: 20px;
    background-color: #c3c0c03f;
    border-top: 1px solid #38383859;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Botão para Apagar Alunos */
#btn-apagar-alunos {
    padding: 16px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
    transition: all 0.25s ease;
    cursor: pointer;
    margin: 20px 0px 20px 30px;
    background-color: rgb(193, 7, 7);
}

#btn-apagar-alunos:hover {
    background-color: rgb(174, 11, 11);
    transform: scale(1.05);
}

.btn-editar {
    padding: 12px;
    margin-bottom: 10px;
    background-color: #3874C8;
    color: #fff;
    width: 80%;
    border-radius: 50px;
    border: 1px solid #000;
}

.btn-excluir {
    background-color: #C10707;
    padding: 12px;
    margin-bottom: 10px;
    color: #fff;
    width: 80%;
    border-radius: 50px;
    border: 1px solid #000;
}

/* ============================================
   Footer
   ============================================ */
footer {
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    color: #ffff;
    background-color: #105F41;
}